body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}


address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

section {
  padding: 96px 0;
}

.container {
  margin: 0 auto;
  width: 320px;
  padding-left: 16px;
  padding-right: 16px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding: 24px 0;
}

.part-logo {
  color: #2e2f42;
}

.header-list {
  display: flex;
  gap: 40px;
  display: none;
}


.header-list-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list-link:hover,
.header-list-link:focus {
  color: #404bbf;
}

.link-active {
  position: relative;
  color: #404bbf;
}

.link-active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  background-color: #404bbf;
  width: 100%;
  height: 4px;
  border-radius: 2px;
}

.header-contacts {
  margin-left: auto;
  display: none;
}

.header-contacts-link {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding: 24px 0;
}

.header-contacts-link:hover,
.header-contacts-link:focus {
  color: #404bbf;
}

/* main theme */

.hero-section {
  background-color: #2e2f42;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/people-office_mob.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 72px 0;
}

@media screen and (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/people-office_mob_2x.jpg);
  }
}

.hero-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 216px;
}

.hero-header {
  font-weight: 700;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  font-size: 36px;
  line-height: 1.11;
  padding-bottom: 72px;
}

.order-service-button {
  display: block;
  min-width: 169px;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #fff;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  padding: 16px 32px;
  margin: 0 auto;
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.order-service-button:hover,
.order-service-button:focus {
  background-color: #404bbf;
  cursor: pointer;
}

/* features */
.features-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 72px;
}


.features-item {
  max-width: 100%;
}

.icon-rectangle {
  align-items: center;
  justify-content: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  margin-bottom: 8px;
  display: none;
}

.features-icon {
  display: block;
  margin: 24px auto;
}

.features-header {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
}

.features-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-weight: 500;
}

/* team */
.team {
  display: flex;
  background-color: #f4f4fd;
}

.team-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 72px;
}

.card-item {
  padding: 32px 0;
}

.team-item {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  width: 264px;
  margin-left: auto;
}

.team-image-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-image-profession {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
  margin-top: 8px;
}

.social-media {
  display: inline-block;
  gap: 24px;
}

.social-media-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-link:hover,
.social-media-link:focus {
  background-color: #404bbf;
}

.social-media-icon {
  fill: #f4f4fd;
}

/* our portfolio */

.portfolio {
  display: flex;
}

.portfolio-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  row-gap: 48px;
  column-gap: 24px;
}

.portfolio-item {
  background-color: #fff;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card {
  position: relative;
  overflow: hidden;
}

.overlay {
  display: block;
  background-color: #4d5ae5;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .overlay {
  transform: translateY(0);
}

.portfolio-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-subtitle-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.portfolio-frame {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}

/* footer */

.footer {
  display: flex;
  background-color: #2e2f42;
  padding: 96px 0;
}

.footer-logo-paragraph {
  margin-bottom: 72px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.footer-logo-part {
  color: #f4f4fd;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 100%;
}

.social-media-footer {
  margin-bottom: 72px;
}

.social-media-footer .social {
  gap: 16px;
}

.social-media-ftext {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  text-align: center;
}

.foot:hover,
.foot:focus {
  background-color: #31d0aa;
}

.subscribe-label {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  text-align: center;
}

.footer-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.footer-email {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  padding: 16px;
  border: 1px solid #fff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: transparent;
}

.footer-email::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}

.footer-subscribe-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

.footer-suscribe-icon {
  display: flex;
  fill: #fff;
  margin-left: 16px;
}

/* modal window */

.modal-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}


.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(-50%) translateX(-50%);
  width: 288px;
  height: 623px;
  padding: 72px 16px 24px 16px;
}

.modal-form-wrap {
  margin-bottom: 8px;
}

.modal-exit {
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 50%;
  padding: 0;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.modal-exit:hover,
.modal-exit:focus {
  border: none;
  background-color: #404bbf;
}

.modal-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-exit:hover>.modal-icon,
.modal-exit:focus>.modal-icon {
  fill: #ffffff;
}

.modal-header {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.modal-input-wrap {
  position: relative;
}

.modal-icon-input {
  position: absolute;
  left: 16px;
  top: 8px;
  top: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(-50%);
}

.modal-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding-left: 38px;
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-input:focus+.modal-icon-input {
  fill: #4d5ae5;
}

.comment-wrap {
  margin-bottom: 16px;
}

.modal-comment {
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  outline: transparent;
  background-color: transparent;
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment:focus {
  border-color: #4d5ae5;
}

.modal-comment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  padding-top: 8px;
  padding-left: 16px;
}

.modal-policy {
  margin-bottom: 24px;
}

.fake-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-accept {
  display: flex;
}

.check-link {
  line-height: 1.3;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.send-button {
  display: block;
  border-radius: 4px;
  border: none;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  margin: 24px auto;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox:checked+.modal-check .fake-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

/* mobile menu modal */
.mobile-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 320px;
  min-height: 640px;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.mobile-modal {
  background-color: transparent;
  position: absolute;
  border-radius: 4px;
  width: 100%;
  min-height: 100%;
  padding: 24px 24px 40px 16px;
}

.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-navigation {
  padding-top: 48px;
}

.mobile-navigation .header-list {
  display: flex;
  flex-direction: column;
}

.mobile-list-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
}

.mobile-navigation .header-list-item:first-child {
  color: #404bbf;
}

.mobile-navigation .header-list-item:hover,
.mobile-navigation .header-list-item:focus {
  color: #404bbf;
}

.mobile-modal .mobile-header-contacts {
  margin-top: 168px;
}

.mobile-modal .header-contacts-list {
  display: flex;
  flex-wrap: wrap-reverse;
  gap: 24px;
}

.mobile-modal .header-contacts-link {
  padding: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}

.mobile-modal .header-contacts-item:last-child .header-contacts-link {
  color: #4d5ae5;
}

.mobile-modal .header-contacts-item:hover .header-contacts-link,
.mobile-modal .header-contacts-item:focus .header-contacts-link {
  color: #4d5ae5;
}

.mobile-modal .social-media-footer {
  margin-bottom: 0;
  margin-top: 48px;
}

.mobile-modal .social {
  justify-content: space-between;
}

/* ========================================================== */








/* media queries */
@media screen and (min-width: 768px) {
  section {
    padding: 96px 0;
  }

  .container {
    width: 768px;
  }

  /* header */
  .header-list {
    display: flex;
  }

  .logo {
    margin-right: 120px;
  }

  .header-contacts {
    display: flex;
  }

  .header-contacts-list {
    flex-direction: column;
    gap: 12px;
    align-items: end;
  }

  .header-contacts-link {
    padding: 0;
    font-size: 12px;
  }

  .mobile-menu-icon {
    display: none;
  }

  /* ============================================== */


  /* hero-section */
  .hero-section {
    padding: 112px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/people-office_tab.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .hero-section {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/people-office_tab_2x.jpg);
    }
  }

  .hero-header {
    font-size: 56px;
    line-height: 1.07;
    padding-bottom: 36px;
  }

  .hero-section .container {
    max-width: 768px;
  }

  /* ============================================== */

  /* features */
  .features .container {
    margin: 0 auto;
  }

  .features-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
  }

  .features-item {
    width: calc((100% - 24px) / 2);
  }

  .features-header {
    text-align: start;
  }

  /* ================================================ */


  /* Our team */
  .team .container {
    padding-left: 108px;
    padding-right: 108px;
  }

  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
  }

  .team-item {
    margin-left: 0;
  }

  /* ================================================== */

  /* Our portfolio */


  .portfolio-list {
    row-gap: 72px;
  }

  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }

  /* ================================================== */


  /* footer */
  .footer {
    padding: 96px 108px;
  }

  .footer .container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
  }

  .footer-logo-paragraph {
    width: 264px;
  }

  .footer-logo {
    justify-content: start;
  }

  .social-media-ftext {
    text-align: start;
  }

  .footer-form {
    flex-direction: row;
    gap: 24px;
  }

  .subscribe-label {
    text-align: start;
  }

  .footer-email {
    width: 264px;
  }

  /* =================================================== */
  .modal {
    padding: 72px 24px 24px 24px;
    width: 408px;
    min-height: 584px;
  }

}


@media screen and (min-width: 1440px) {
  section {
    padding: 120px 0;
  }

  .container {
    width: 1158px;
    padding: 0 15px;
  }


  /* header */
  .header-contacts-list {
    display: flex;
    flex-direction: inherit;
    gap: 40px;
  }

  .header-contacts-link {
    font-size: 16px;
  }


  .logo {
    margin-right: 76px;
  }

  /* ============================================== */


  /* hero-section */
  .hero-section {
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/people-office_1.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .hero-section {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/people-office_1_2x.jpg);
    }
  }

  .hero-header {
    font-size: 56px;
    line-height: 1.07;
    padding-bottom: 48px;
  }

  /* ==============================================*/

  /* features */


  .features-list {
    gap: 24px;
    flex-wrap: nowrap;
    flex-direction: inherit;
  }

  .features-item {
    max-width: 264px;
  }

  .icon-rectangle {
    display: flex;
  }

  .features-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .features-text {
    font-weight: inherit;
  }

  /* ================================================ */

  /* Our team */
  .team .container {
    padding-left: 0;
    padding-right: 0;
    /* ================================================ */
  }

  /* Our portfolio */


  .portfolio-list {
    row-gap: 40px;
  }

  .portfolio-item {
    width: calc((100% - 48px) / 3);
  }


  /* ================================================== */


  /* footer */
  .footer {
    padding: 100px 0;
  }

  .footer .container {
    width: 1158px;
    padding: 0 15px;
    justify-content: space-between;
  }

  .footer-logo-paragraph,
  .social-media-footer {
    margin-bottom: 0;
  }

  /* =================================================== */
}